/* main.css */

body {
  margin: 0;
  margin-top: 6em;
  font-family: 'Montserrat', sans-serif;
}

#categorias {
  padding: 1.25rem;
  display: flex;
  justify-content: space-around;
}

.categoria img {
  max-width: 6.25rem;
  margin: 0 0.625rem;
}

#productos {
  padding: 1.25rem;
  text-align: center;
}

.producto {
  display: inline-block;
  margin: 0.625rem;
}

.producto img {
  width: 70%;
  height: auto;
}

main {
  padding: 1.25rem;
}

main h1 {
  font-size: 2.5rem;
  color: #333;
}

main p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.categorias {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2.5rem;
}

.categorias img {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  border: 0.125rem solid #ccc;
}

.productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
}

.productos .producto {
  background-color: white;
  border: 1px solid #ccc;
  padding: 0.9375rem;
  text-align: center;
}

.productos .producto h3 {
  font-size: 1.5rem;
  margin: 0.625rem 0;
}

.productos .producto p {
  font-size: 1rem;
}

#banner {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}
